name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
        chmod -R 777 $PWD
        cd $PWD
        ls
        docker build . -t imagetest 
  
  close:
    name: Merge PR
    needs: build
    runs-on: [ubuntu-latest]
    steps:
      - uses: plm9606/automerge_actions@1.2.3
        with:
          auto-delete: true
          github-token: ${{secret.GITHUBTOKEN}} 
       
  
