name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
        chmod -R 777 $PWD
        cd $PWD
        ls
        docker build . -t imagetest 
        
  merge:
    runs-on: ubuntu-latest
    needs: build 
    steps:
      - name: Trigger pr-autobuild action for building PR
        uses: nikhilaii93/pr-autobuild@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUBTOKEN }}
          GITHUB_NAME: 04NehaSingh
          DEFAULT_APPROVAL_COUNT_ENV: 1
          BUILD_COMMENT_ENV: "OK to test"
          DELETE_BRANCH: true
          CODEOWNERS: 04neha.singh@gmail.com
