name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
        chmod -R 777 $PWD
        cd $PWD
        ls
        docker build . -t imagetest 
        
  merge:
    runs-on: ubuntu-latest
    needs: build 
    steps:
      - name: Auto-Merge PR
        env:
          GITHUB_TOKEN: GITHUBTOKEN
          PR_NUMBER: ${{github.event.pull_request.number}}
        run: |
          env | grep GITHUB_REF 
          echo ${{PR_NUMBER}}
          pull_number=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
          echo $pull_number
          hub merge http://github.com/test_gitaction/pull/${pull}
          echo "End.........."
